@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgba(241, 237, 237, 0.849);
    font-style: italic;
    font-size: 80px;
    font-family: "Handlee", cursive;
    text-decoration:overline;
    text-align: center;
}
#hadding-div{
    /* background-image: linear-gradient(75deg, black, pink); */
    background-image: url("../img/2G.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 100px 0;
    max-width: 1100px;
    margin: 30px auto;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 53%);
}
.btn-prante{
    text-align: center;
    margin: 20px 0;
}
.btn{
    background-color: tomato;
    color: white;
    padding: 8px 20px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-size:24px;
    font-family: "Space Grotesk", sans-serif;
}